SECRET_KEY = your_secret_key_django

NAME = your_name_db
USER_BD = your_user_db
PASS_BD = password_your_user_db
HOST = host_your_db
PORT = port_your_db

DEBUG = True

E_MAIL = your_email_service
PASS_MAIL=your_password_email_service